server:
  port: 8080

spring:
  application:
    name: spring-boot-backend
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/sample
    username: postgres
    password: 1234
    connectionTestQuery: "SELECT 1"
    maximumPoolSize: 50
    minimumIdle: 50
  datasource-read-only:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/sample
    username: postgres
    password: 1234
    connectionTestQuery: "SELECT 1"
    maximumPoolSize: 50
    minimumIdle: 50

  h2:
    console:
      enabled: false

  jpa:
    database: POSTGRESQL
    database-platform: org.hibernate.dialect.PostgreSQL9Dialect
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    locations: classpath:db/migration,classpath:db/seed
    enabled: false
    baseline-on-migrate: true
    url: jdbc:postgresql://localhost:5432/example
    user: postgres
    password: 1234
    #out-of-order: true
    #validate-on-migrate: true
  redis:
    host: ${REDIS_HOST:localhost}
    port: ${REDIS_PORT:6379}

  cache:
    type: redis
    redis:
      time-to-live: 60000 #60ì´ˆ
      expire-time:
        ttl:
          user: 30
          admin: 120

mybatis:
  mapper-locations: classpath*:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace
